body,a,.inb input,.ind input,.btc button,.btn{
color:rgb(0,84,91);
}
#chc button{
border:2px solid rgb(13,152,186);
}
.gcl{
border-bottom:1px solid rgb(13,152,186);
}
main,section,footer,#header,.fc21,.fc22,.fc31,.fc32,.fc33,#gkb,.gcl,.inb input,.ind input,.btc button{
background-color:rgba(13,152,186,0.1);
}
#top a{
background-color:rgba(13,152,186,0.2);
}
body,.btn,noscript{
background-color:rgba(13,152,186,0.3);
}
#chc,.btc button:hover,#top a:hover{
background-color:rgba(13,152,186,0.5);
}
.btn:hover{
background-color:rgba(13,152,186,0.8);
}
